@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/Helvetica.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Bold.ttf');
}

.project-description {
  display: none;
}
.project-data:hover .project-description {
  display: block;
}
